config RB_RWMUTEX
	tristate "RB Read-Write Mutex Support"
	depends on MODULES
	help
	  This enables support for RB Read-Write Mutex, a custom read-write
	  mutex implementation that can be used as an alternative to rwlock.
	  
	  If you want to compile it as a module, say M here.
	  If you want to compile it into the kernel, say Y here.
	  If you don't want to compile it, say N here.
	  
	  If unsure, say N. 